.hide {
    display: none;
}

.dropdown-title {
    padding: 10px 0;
    padding-left: 20px;
}

.dropdown-options {
    font-family: 'Open Sans';
    border-bottom: 1px solid #6A6A9F;
    cursor: default;
    user-select: none;
}

.dropdown-options-list {
    list-style-type: none;
}

.dropdown-option {
    background-color: #191932;
    margin-bottom: 2px;
    padding: 5px 0;
    padding-left: 20px;
}