.property-label {
    display: flex;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #6A6A9F;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Open Sans', 'Arial';
}
.property {
    background-color: #191932;
    border-right: 1px solid #6A6A9F;
    flex-grow: 1;
}
.value {
    flex-grow: 1;
}