.workspace {
    background-color: #0E0E1C;
    z-index:1;
    overflow: auto;
}

.panel {
    border-bottom: 1px solid #6A6A9F;
    padding: 10px;
    padding-bottom: 20px;
    
}


.graph-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



