.hide {
    display: none;
}
.selected-option{
    background-color: #191932;
    border: 1px solid #6A6A9F;
    cursor: default;
    border-radius: 5px;
    font-family: 'Open Sans', arial;
    padding-left: 8px;
}
.option-list {
    cursor: default;
    list-style-type: none;
    background-color: #191932;
    border: 1px solid #6A6A9F;
    border-radius: 5px;
}
.option {
    background-color: #27274F;
    margin: 5px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Open Sans', arial;
}
.option:hover {
    background-color: #0E0E1C;
}