.button {
    background-color: #191932;
    display: inline-block;
    border: 1px solid #6A6A9F;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    cursor: default;
}
.button:hover {
    background-color: #25254a;
}