.input-field {
    background-color: #0E0E1C;
    outline: none;
    border: 1px solid #6A6A9F;
    color: #6A6A9F;
    border-radius: 5px;
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 5px;
}
.input-field::placeholder {
    color: #6A6A9F;
}