.drop-down__btn{
    background-color:transparent;
    border-style:none;
    font:1rem;
    color:white;
  }
  .drop-down__list{
    flex-direction:column;
    position:absolute;
    border:solid #6A6A9F 1px;
  }
  .drop-down{
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    background-color:#191932;
    font: inherit;
    border-style:none;    
  }
  .drop-down__list__item{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-style:none;
    background-color:#191932;
    width:100%;
    color:#6A6A9F;
    height:40px;
    text-transform:lowercase;
    z-index:20;
  }